.hometitle{
    color: #4b45ff;
}
.homebtn{
    margin-top: 2%;
}
.footer{
    background-color: #1c140e;
}
.footertext{
    color: white;
}
homebtnn{
    padding: 5%;
}
.d-flex{
    padding-right: 5%;
}
.overflow-scroll{
    height: 800px;
}
.scroll-2{
    height: 700px;
}
